$utilities: map-merge(
	$utilities,
	(
		// Responsive position utilities
		"top": map-merge(
			map-get($utilities, "top"),
			(
				responsive: true,
				values: map-merge(
					map-get(
						map-get($utilities, "top"),
						"values"
					),
					(none: unset)
				)
			)
		),
		"bottom": map-merge(
			map-get($utilities, "bottom"),
			(
				responsive: true,
				values: map-merge(
					map-get(
						map-get($utilities, "bottom"),
						"values"
					),
					(none: unset)
				)
			)
		),
		"start": map-merge(
			map-get($utilities, "start"),
			(
				responsive: true,
				values: map-merge(
					map-get(
						map-get($utilities, "start"),
						"values"
					),
					(none: unset)
				)
			)
		),
		"end": map-merge(
			map-get($utilities, "end"),
			(
				responsive: true,
				values: map-merge(
					map-get(
						map-get($utilities, "end"),
						"values"
					),
					(none: unset)
				)
			)
		),
		"translate-middle": map-merge(
			map-get($utilities, "translate-middle"),
			(responsive: true)
		),
		"translate": (
			responsive: true,
			property: transform,
			class: translate,
			values: (
				none: transform(0),
				start: translateX(0),
				end: translateX(calc(100% - #{width})),
				top: translateY(0),
				bottom: translateY(calc(100% - #{height})),
			)
		),
	)
);
