$all-colors: (
	"it-primary": $it-primary,
	"it-secondary": $it-secondary,
	"it-tertiary": $it-tertiary,
	"it-quaternary": $it-quaternary
);

// Add the new colors to the $utilities map
$utilities: map-merge(
	$utilities,
	(
		"background-color": map-merge(
			map-get($utilities, "background-color"),
			(
				values: map-merge(
					map-get(map-get($utilities, "background-color"), "values"),
					($all-colors),
				),
			)
		),
	)
);
