// New Theme Colors
$it-primary:	rgb(164, 31, 52);
$it-secondary:	rgb(204, 128, 118);
$it-tertiary:	rgb(247, 209, 12);
$it-quaternary:	rgb(247, 242, 233);

// Breadcrumb
$breadcrumb-divider:		quote(">");
$breadcrumb-margin-bottom:	0rem;
